.postcard {
    cursor: pointer;
    max-width: 250px;
    width: 250px;
    flex: 1;
    margin: 10px;
}

.post-box {
    margin-bottom: 20px;
    padding: 20px;
}

.timestamp {
    color: dimgrey;
}

.comment-box {
    border-radius: 20px;
    background-color: #cce5ff;
    padding: 5px;
}