.songRow {
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    display:flex;
    align-items:center;
    z-index:100;

}
.songRow_album {
    height: 50px;
    width: 50px;
}
.songRow:hover {
    cursor:pointer;
    background-color:black;
    opacity: 0.2;
}

.songRow_info {
    margin-left:20px;
}

.songRow_info > h1 {
    padding-top:10px;
    font-size: 16px;
}

.songRow_info > p {
    font-size: 14px;
    margin-top:3px;
    color:gray;
}