.spacer
{
    width: 80%;
    height: 100px;
}

.rounded-card { /* add shadows */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

h2 {
    color: midnightblue;
    font-family: "Times New Roman", Times, serif;
}

.form-group {
    font-family: "Times New Roman", Times, serif;
}

.gandalf {
    display: flex;
    justify-content: center;
}
/*
.btn {
    font-family: "Times New Roman", Times, serif;
}
*/
